div.root{
  height: 200px;
  border: black;
  text-align: center;
}
div.root >div{
  display: flex;
  text-align: center;

}
header{
  height: 200px;
  background-color: red;
}
nav{
  height: 100px;
  background-color: royalblue;
}
section{
  height: 400px;
  width: 60%;
  background-color: gray;
}
aside{
  width: 40%;
  height: 400px;
  background-color: gainsboro;
}
footer{
  height: 300px;
  background-color: green;
}