div.root{

  border: black;
}
div.root >div{
  display: flex;
  text-align: center;
}
div.root > header{
  height: 100px;
  display: flex;
}
div.root >header .left{
  display: flex;
  
  width: 50%;
  justify-content: flex-start;
}
div.root> header .right{
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
nav{
  height: 50%;

  text-align: center;
}
section{
  height: 30%;
  text-align: center;
}
footer{
  background-color: rgba(0,0,0,.54);
  opacity: 0.5;
  justify-content: baseline;
  
}